[Unit]
Description=Monitors humidity and temperature
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/steveroe/humidity-monitor
ExecStart=/home/steveroe/humidity-monitor/env/bin/python3 humidity-monitor.py
User=steveroe
Group=steveroe
Restart=on-failure

[Install]
WantedBy=multi-user.target
